In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('../data/social_media_ad_optimization_raw.csv', delimiter=',') 
df.head()

  user_id  age gender  ... day_of_week device_type engagement_score
0   U0001   58      M  ...      Friday      Mobile             0.02
1   U0002   55      F  ...    Saturday      Tablet             0.93
2   U0003   52      F  ...   Wednesday      Mobile             0.93
3   U0004   31      F  ...    Saturday     Desktop             0.28
4   U0005   52      M  ...      Monday      Tablet             0.35

[5 rows x 16 columns]

**Key Engineered Features**

In [3]:
df["CTR"]=df["clicks"]/df["impressions"]
df["CVR"]=df["conversion"]/df["clicks"].replace(0, np.nan)
df["CVR"]=df["CVR"].fillna(0)

**Interaction Features**

In [4]:
df["age_platform_interaction"] = df["age"] * df["ad_platform"].map({'Facebook': 1, 'Instagram': 2, 'Twitter': 3, 'LinkedIn': 4})
df["age_time_spent_interaction"] = df["age"] * df["time_spent_on_ad"]

**Contextual Features**

In [5]:
df["is_weekend"]=df["day_of_week"].isin(['Saturday', 'Sunday']).astype(int)
df["is_mobile"]=df["device_type"].isin(['Mobile']).astype(int)
df["is_facebook"]=df["ad_platform"].isin(['Facebook']).astype(int)
df["is_instagram"]=df["ad_platform"].isin(['Instagram']).astype(int)

df.head()

  user_id  age gender  ... is_mobile is_facebook is_instagram
0   U0001   58      M  ...         1           1            0
1   U0002   55      F  ...         0           1            0
2   U0003   52      F  ...         1           0            1
3   U0004   31      F  ...         0           1            0
4   U0005   52      M  ...         0           0            1

[5 rows x 24 columns]

In [6]:
df.describe()

              age  impressions  ...  is_facebook  is_instagram
count  500.000000   500.000000  ...   500.000000    500.000000
mean    39.410000     8.282000  ...     0.492000      0.508000
std     12.400219     4.217351  ...     0.500437      0.500437
min     18.000000     1.000000  ...     0.000000      0.000000
25%     28.000000     4.750000  ...     0.000000      0.000000
50%     39.000000     9.000000  ...     0.000000      1.000000
75%     51.000000    12.000000  ...     1.000000      1.000000
max     60.000000    15.000000  ...     1.000000      1.000000

[8 rows x 14 columns]

**PCA-based Engagement Score**

In [ ]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.decomposition import PCA

In [12]:
X_engg = df[["clicks","time_spent_on_ad"]]
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_engg)

pca = PCA(n_components=1)
df["engagement_pca"] = pca.fit_transform(X_scaled)
df.head()

  user_id  age gender  ... is_facebook is_instagram engagement_pca
0   U0001   58      M  ...           1            0      -1.691024
1   U0002   55      F  ...           1            0       0.282045
2   U0003   52      F  ...           0            1       1.357161
3   U0004   31      F  ...           1            0       0.896229
4   U0005   52      M  ...           0            1       0.664153

[5 rows x 25 columns]

In [13]:
df.to_csv("../data/processed_data_with_pca.csv", index=False)